<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Working Hours | Inskin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
        <!-- <div class="main-wrapper vuepage templates">
                <div class="top-bar">
                    <div class="bottom-decal">
                    </div>
                    <div class="logo"><img src="img/logo.png" alt=""></div>
                    <div class="title">Testing - Interface</div>
                    <div class="title-line pre-transit-f"></div>
                </div>
                <div class="container top-el">
                    <div class="col-md-12 panel no-pad pre-transit-f">
                        <div class="panel-title">Part I</div>
                        <div class="row">
                            <div class="col-md-12" style="margin:0 auto">
                                <div class="timezones time-title">Working Times (UK Time)</div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="container top-el" style="margin: 0 auto">
                    <div class="col-md-5 panel no-pad pre-transit-f">
                        <div class="panel-title">Part II</div>
                        <div class="row">
                            <div class="col-md-12" style="margin:0 auto">
                                <div class="timezones time-title vuepagebutton"><a href="#">Next Link</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 panel no-pad pre-transit-f">
                            <div class="panel-title">Part III</div>
                            <div class="row">
                                <div class="col-md-12" style="margin:0 auto">
                                    <div class="timezones time-title vuepagebutton"><a href="#">Next Link</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 panel no-pad pre-transit-f">
                            <div class="panel-title">Part IV</div>
                            <div class="row">
                                <div class="col-md-12" style="margin:0 auto">
                                    <div class="timezones time-title vuepagebutton"><a href="#">Next Link</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 panel no-pad pre-transit-f">
                                <div class="panel-title">Part V</div>
                                <div class="row">
                                    <div class="col-md-12" style="margin:0 auto">
                                        <div class="timezones time-title vuepagebutton"><a href="#">Next Link</a></div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div> -->
    <div class="main-wrapper vuepage instance">
        <div class="top-bar">
            <div class="bottom-decal">
            </div>
            <div class="logo"><img src="img/logo.png" alt=""></div>
            <div class="title">Testing - Instance</div>
            <div class="title-line pre-transit-f"></div>
        </div>
        <div class="container top-el">
            <div class="col-md-12 panel no-pad pre-transit-f">
                <div class="panel-title">Part I - Instances</div>
                <div class="row">
                    <div class="col-md-12" style="margin:0 auto">
                        <div class="timezones time-title timepagebutton"><a href="#">Previous Link</a></div>
                        <div class="timezones time-title">Intro</div>
                        
                        <div id="vmIns" class="timezones zone-item">
                            Freeze Obj test:
                            <div id="appInst1">
                                <p>{{ foo }}</p>
                                <!-- this will no longer update `foo`! -->
                                <button v-on:click="foo = 'baz'">Change it</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container top-el">

            <div class="col-md-6 panel no-pad pre-transit-f">
                <div class="panel-title">Part II.1 - Template Syntax - Interpolations</div>
                <div class="row">
                    <div class="col-md-12" style="margin:0 auto">
                        <div class="timezones time-title">V-once (This Data is not 'updateable' due to the attribute)</div>
                            <div v-once class="timezones zone-item apptemsyn">
                                    <span>{{ message }}</span></div>

                                    <div class="timezones time-title">Raw HTML</div>
                            <div v-once class="timezones zone-item apptemsyn">
                                    <span>{{ message }}</span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 panel no-pad pre-transit-f">
                    <div class="panel-title">Part II.2 -</div>
                    <div class="row">
                        <div class="col-md-12" style="margin:0 auto">
                            <div class="timezones time-title"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 panel no-pad pre-transit-f">
                    <div class="panel-title">Part IV</div>
                    <div class="row">
                        <div class="col-md-12" style="margin:0 auto">
                            <div class="timezones time-title vuepagebutton"><a href="#">Next Link</a></div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <div class="main-wrapper vuepage">
        <div class="top-bar">
            <div class="bottom-decal">
                <!-- <div class="footer">
                                <footer>© Copyright  Inskin Media LTD - All Rights Reserved</footer>
                            </div> -->
            </div>
            <div class="logo"><img src="img/logo.png" alt=""></div>
            <div class="title">Testing - Basics</div>
            <div class="title-line pre-transit-f"></div>
        </div>
        <div class="container top-el">
            <div class="col-md-10 panel no-pad pre-transit-f">
                <div class="panel-title">Part I</div>
                <div class="row">
                    <div class="col-md-12" style="margin:0 auto">
                        <div class="timezones time-title timepagebutton"><a href="#">Previous Link</a></div>
                        <div class="timezones time-title">Dynamically adjusting data</div>
                        <div id="vuetest" class="zone-item"> {{extra_data}}</div>
                        <div class="timezones time-title">Binding Data</div>
                        <div id="vue2" class="zone-item">
                            <span class="spandiv" v-bind:title="message2">
                                Adjusting attributes using v-bind</span>
                        </div>
                        <div id="vue3" class="timezones time-title" v-if="seen">If Statement/Seen Tests</div>
                        <div id="vue5" class="timezones time-title" v-on:click="updateLink">Click Function/ v-on:EVENT
                            {{message}}</div>
                        <div id="vue6" class="timezones time-title">
                            <p>Using Models to bind data {{modelUpdate}}</p>
                            <input v-model="modelUpdate">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container top-el">
            <div class="col-md-12 panel no-pad pre-transit-f">
                <div class="panel-title">Part II</div>
                <div class="row">
                    <div class="col-md-12" style="margin:0 auto">
                        <div class="timezones time-title vuepagebutton"><a href="#">Next Link</a></div>
                        <div class="timezones time-title">Components</div>
                        <div class="timezones zone-item">
                            <div id="app-7">
                                <ol>
                                    <!--
                                    Now we provide each todo-item with the todo object
                                    it's representing, so that its content can be dynamic.
                                    We also need to provide each component with a "key",
                                    which will be explained later.
                                  -->
                                    <todo-item v-for="item in territoryList" v-bind:todo="item" v-bind:key="item.id">
                                    </todo-item>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wrapper timepage">
        <div class="top-bar">
            <div class="logo"><img src="img/logo.png" alt=""></div>
            <div class="title">Working Hours</div>
            <div class="title-line pre-transit-f"></div>
        </div>
        <div class="container top-el">
            <div class="col-md-4 panel no-pad   pre-transit-f pre-transit-p">
                <div class="panel-title">Territories</div>
                <div class="zone-item">UK</div>
                <div class="zone-item">DE</div>
                <div class="zone-item">AU</div>
                <div class="zone-item">HK/SG</div>
                <div class="zone-item">UAE</div>

            </div>
            <div class="col-md-4 panel no-pad pre-transit-f">
                <div class="panel-title">Time</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="timezones time-title">Current Time</div>
                        <div class="timezones current-item"></div>
                        <div class="timezones time-title">Working Times (UK Time)</div>
                        <div id="tti" class="timezones territory-item"></div>
                        <div class="timezones time-title timepagebutton"><a href="#">Previous Link</a></div>
                    </div>
                </div>

            </div>
            <!-- <div class="col-md-4 panel no-pad">
                <div class="panel-title">Customise</div>
                <div class="timezones custom-item"><input type="text"></div>
                <div class="timezones selected-item"><input type="text"></div>
            </div> -->
        </div>
        <div class="timeline pre-transit-f">
            <div class="timeline-overlay"></div>
            <div class="timeline-container">
                <div class="trackline"></div>
                <div class="curtline"></div>
                <div class="timeStampContainer">
                    <div class="timestamps">00:00</div>
                    <div class="timestamps">01:00</div>
                    <div class="timestamps">02:00</div>
                    <div class="timestamps">03:00</div>
                    <div class="timestamps">04:00</div>
                    <div class="timestamps">05:00</div>
                    <div class="timestamps">06:00</div>
                    <div class="timestamps">07:00</div>
                    <div class="timestamps">08:00</div>
                    <div class="timestamps">09:00</div>
                    <div class="timestamps">10:00</div>
                    <div class="timestamps">11:00</div>
                    <div class="timestamps">12:00</div>
                    <div class="timestamps">13:00</div>
                    <div class="timestamps">14:00</div>
                    <div class="timestamps">15:00</div>
                    <div class="timestamps">16:00</div>
                    <div class="timestamps">17:00</div>
                    <div class="timestamps">18:00</div>
                    <div class="timestamps">19:00</div>
                    <div class="timestamps">20:00</div>
                    <div class="timestamps">21:00</div>
                    <div class="timestamps">22:00</div>
                    <div class="timestamps">23:00</div>
                </div>
                <div class="stampContainer">
                    <div class="stamplines">00</div>
                    <div class="stamplines">01</div>
                    <div class="stamplines">02</div>
                    <div class="stamplines">03</div>
                    <div class="stamplines">04</div>
                    <div class="stamplines">05</div>
                    <div class="stamplines">06</div>
                    <div class="stamplines">07</div>
                    <div class="stamplines">08</div>
                    <div class="stamplines">09</div>
                    <div class="stamplines">10</div>
                    <div class="stamplines">11</div>
                    <div class="stamplines">12</div>
                    <div class="stamplines">13</div>
                    <div class="stamplines">14</div>
                    <div class="stamplines">15</div>
                    <div class="stamplines">16</div>
                    <div class="stamplines">17</div>
                    <div class="stamplines">18</div>
                    <div class="stamplines">19</div>
                    <div class="stamplines">20</div>
                    <div class="stamplines">21</div>
                    <div class="stamplines">22</div>
                    <div class="stamplines">23</div>
                </div>
                <div class="working-container">
                    <div class="wHours uk">
                        <div class="cHours">
                            <div class="territory-label">UK</div>
                        </div>
                    </div>
                    <div class="wHours ukr">
                        <div class="cHours">
                            <div class="territory-label">UKR</div>
                        </div>
                    </div>
                    <div class="wHours de">
                        <div class="cHours">
                            <div class="territory-label">DE</div>
                        </div>
                    </div>
                    <div class="wHours uae">
                        <div class="cHours">
                            <div class="territory-label">UAE</div>
                        </div>
                    </div>
                    <div class="wHours au">
                        <div class="cHours">
                            <div class="territory-label">AU</div>
                        </div>
                    </div>
                    <div class="wHours au2">
                        <div class="cHours">
                            <div class="territory-label">AU</div>
                        </div>
                    </div>
                    <div class="wHours hksg">
                        <div class="cHours">
                            <div class="territory-label">
                                <div class="label-fix">HK/SG</div>
                            </div>
                        </div>
                    </div>
                    <div class="wHours hksg2">
                        <div class="cHours">
                            <div class="territory-label">HK/SG</div>
                        </div>
                    </div>
                    <div class="timeline-info">
                        <div class="time-title">Selected Territory Times</div>
                        <div class="selectTime uk"></div>
                        <div class="selectTime ukr"></div>
                        <div class="selectTime de"></div>
                        <div class="selectTime au"></div>
                        <div class="selectTime hksg"></div>
                        <div class="selectTime uae"></div>
                    </div>
                    <div class="current-info">
                        <div class="time-title">Current Territory Times</div>
                        <div class="currentTime uk"></div>
                        <div class="currentTime ukr"></div>
                        <div class="currentTime de"></div>
                        <div class="currentTime au"></div>
                        <div class="currentTime hksg"></div>
                        <div class="currentTime uae"></div>
                    </div>
                    <div class="working-info">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="col-md-3 panel no-pad">
                        <div class="panel-title">Customise</div>
                        <div class="timezones custom-item"><input type="text"></div>
                        <div class="timezones selected-item"><input type="text"></div>
                    </div> -->
    </div>
    </div>
    <div class="bottom-decal">
        <!-- <div class="footer">
            <footer>© Copyright  Inskin Media LTD - All Rights Reserved</footer>
        </div> -->
    </div>

</body>

</html>